@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@200;300;400;500;700;900&display=swap');

* {
    font-family: 'Exo 2', sans-serif;
}

// 
$green: #2a9d8f;
$redorange: #c44323;
$yellow: #f9c74f;
$onyx: #353839;